@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../containers/ChatContainer/ChatContainer.css";
@import "../containers/NavigationContainer/NavigationContainer.css";
@import "../components/Chatbot/chatbot.css";
@import "../components/ProblemForm/problemForm.css";

:root {
  background-color: #babec1;
  font-size: 12px;
}
html {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}

#__next {
  margin: 0;
  height: 100%;
}
.walker_app {
  margin: 0;
  height: 100%;
}
